quanlykho.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Kiểu dùng chung -->
  <xs:simpleType name="TenType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MoTaType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="500" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SoDienThoaiType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{10,11}" />
      <xs:minLength value="10" />
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@]+@[^\.]+\..+" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LoaiPhieuType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nhap" />
      <xs:enumeration value="xuat" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SoLuongType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GiaType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <!-- DANHMUC -->
  <xs:complexType name="DanhMucType">
    <xs:sequence>
      <xs:element name="MADM" type="xs:string" />
      <xs:element name="TENDM" type="TenType" />
      <xs:element name="MOTA" type="MoTaType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <!-- SANPHAM -->
  <xs:complexType name="SanPhamType">
    <xs:sequence>
      <xs:element name="MASP" type="xs:string" />
      <xs:element name="MADM" type="xs:string" />
      <xs:element name="TENSP" type="TenType" />
      <xs:element name="MOTA" type="MoTaType" minOccurs="0" />
      <xs:element name="GIANHAP" type="GiaType" />
      <xs:element name="GIABAN" type="GiaType" />
      <xs:element name="KICHTHUOC" type="xs:string" minOccurs="0" />
      <xs:element name="MAUSAC" type="xs:string" minOccurs="0" />
      <xs:element name="CHATLIEU" type="xs:string" minOccurs="0" />
      <xs:element name="HANG" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <!-- NHACUNGCAP -->
  <xs:complexType name="NhaCungCapType">
    <xs:sequence>
      <xs:element name="MANCC" type="xs:string" />
      <xs:element name="TENNCC" type="TenType" />
      <xs:element name="DIACHI" type="xs:string" />
      <xs:element name="SODT" type="SoDienThoaiType" />
      <xs:element name="EMAIL" type="EmailType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <!-- NHANVIEN -->
  <xs:complexType name="NhanVienType">
    <xs:sequence>
      <xs:element name="MANV" type="xs:string" />
      <xs:element name="TENNV" type="TenType" />
      <xs:element name="SODT" type="SoDienThoaiType" />
      <xs:element name="CHUCVU" type="xs:string" />
      <xs:element name="MATKHAU" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <!-- PHIEU -->
  <xs:complexType name="PhieuType">
    <xs:sequence>
      <xs:element name="MAPHIEU" type="xs:string" />
      <xs:element name="MANCC" type="xs:string" />
      <xs:element name="MANV" type="xs:string" />
      <xs:element name="NGAYNHAP" type="xs:date" />
      <xs:element name="TONGTIEN" type="GiaType" />
      <xs:element name="NGHI" type="xs:string" minOccurs="0" />
      <xs:element name="TENNV" type="TenType" />
      <xs:element name="LOAIPHIEU" type="LoaiPhieuType" />
    </xs:sequence>
  </xs:complexType>

  <!-- CHITIETPHIEU -->
  <xs:complexType name="ChiTietPhieuType">
    <xs:sequence>
      <xs:element name="MACTP" type="xs:string" />
      <xs:element name="MAPHIEU" type="xs:string" />
      <xs:element name="MASP" type="xs:string" />
      <xs:element name="SOLUONG" type="SoLuongType" />
      <xs:element name="GIA" type="GiaType" />
    </xs:sequence>
  </xs:complexType>

  <!-- KE -->
  <xs:complexType name="KeType">
    <xs:sequence>
      <xs:element name="MAKE" type="xs:string" />
      <xs:element name="MASP" type="xs:string" />
      <xs:element name="TONKHO" type="SoLuongType" />
      <xs:element name="VITRI" type="xs:string" />
      <xs:element name="NGAYCAPNHAT" type="xs:date" />
    </xs:sequence>
  </xs:complexType>

  <!-- QUANLYKHO -->
  <xs:element name="QUANLYKHO">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DANHMUC" type="DanhMucType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="SANPHAM" type="SanPhamType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="NHACUNGCAP" type="NhaCungCapType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="NHANVIEN" type="NhanVienType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="PHIEU" type="PhieuType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="CHITIETPHIEU" type="ChiTietPhieuType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="KE" type="KeType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>

    <!-- Khóa chính -->
    <xs:key name="pkDanhMuc">
      <xs:selector xpath="DANHMUC" />
      <xs:field xpath="MADM" />
    </xs:key>

    <xs:key name="pkSanPham">
      <xs:selector xpath="SANPHAM" />
      <xs:field xpath="MASP" />
    </xs:key>

    <xs:key name="pkNhaCungCap">
      <xs:selector xpath="NHACUNGCAP" />
      <xs:field xpath="MANCC" />
    </xs:key>

    <xs:key name="pkNhanVien">
      <xs:selector xpath="NHANVIEN" />
      <xs:field xpath="MANV" />
    </xs:key>

    <xs:key name="pkPhieu">
      <xs:selector xpath="PHIEU" />
      <xs:field xpath="MAPHIEU" />
    </xs:key>

    <xs:key name="pkChiTietPhieu">
      <xs:selector xpath="CHITIETPHIEU" />
      <xs:field xpath="MACTP" />
    </xs:key>

    <xs:key name="pkKe">
      <xs:selector xpath="KE" />
      <xs:field xpath="MAKE" />
    </xs:key>

    <!-- Khóa ngoại -->
    <xs:keyref name="fkSanPhamDanhMuc" refer="pkDanhMuc">
      <xs:selector xpath="SANPHAM" />
      <xs:field xpath="MADM" />
    </xs:keyref>

    <xs:keyref name="fkPhieuNhaCungCap" refer="pkNhaCungCap">
      <xs:selector xpath="PHIEU" />
      <xs:field xpath="MANCC" />
    </xs:keyref>

    <xs:keyref name="fkPhieuNhanVien" refer="pkNhanVien">
      <xs:selector xpath="PHIEU" />
      <xs:field xpath="MANV" />
    </xs:keyref>

    <xs:keyref name="fkChiTietPhieuPhieu" refer="pkPhieu">
      <xs:selector xpath="CHITIETPHIEU" />
      <xs:field xpath="MAPHIEU" />
    </xs:keyref>

    <xs:keyref name="fkChiTietPhieuSanPham" refer="pkSanPham">
      <xs:selector xpath="CHITIETPhieu" />
      <xs:field xpath="MASP" />
    </xs:keyref>

    <xs:keyref name="fkKeSanPham" refer="pkSanPham">
      <xs:selector xpath="KE" />
      <xs:field xpath="MASP" />
    </xs:keyref>
  </xs:element>
</xs:schema>