quanlykho.dtd

<!ELEMENT QUANLYKHO (DANHMUC*, SANPHAM*, NHACUNGCAP*, NHANVIEN*, PHIEU*, CHITIETPHIEU*, KE*)>
<!ELEMENT DANHMUC (TENDM, MOTA)>
<!ATTLIST DANHMUC MADM CDATA #REQUIRED>
<!ELEMENT TENDM (#PCDATA)>
<!ELEMENT MOTA (#PCDATA)>

<!ELEMENT SANPHAM (TENSP, MOTA, GIANHAP, GIABAN, KICHTHUOC, MAUSAC, CHATLIEU, HANG)>
<!ATTLIST SANPHAM MASP CDATA #REQUIRED MADM CDATA #REQUIRED>
<!ELEMENT TENSP (#PCDATA)>
<!ELEMENT GIANHAP (#PCDATA)>
<!ELEMENT GIABAN (#PCDATA)>
<!ELEMENT KICHTHUOC (#PCDATA)>
<!ELEMENT MAUSAC (#PCDATA)>
<!ELEMENT CHATLIEU (#PCDATA)>
<!ELEMENT HANG (#PCDATA)>

<!ELEMENT NHACUNGCAP (TENNCC, DIACHI, SODT, EMAIL)>
<!ATTLIST NHACUNGCAP MANCC CDATA #REQUIRED>
<!ELEMENT TENNCC (#PCDATA)>
<!ELEMENT DIACHI (#PCDATA)>
<!ELEMENT SODT (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>

<!ELEMENT NHANVIEN (TENNV, SODT, VITRI, MATKHAU)>
<!ATTLIST NHANVIEN MANV CDATA #REQUIRED>
<!ELEMENT TENNV (#PCDATA)>
<!ELEMENT VITRI (#PCDATA)>
<!ELEMENT MATKHAU (#PCDATA)>

<!ELEMENT PHIEU (NGAYNHAP, TONGTIEN, NGHI, TENNV, LOAIPHIEU)>
<!ATTLIST PHIEU MAPHIEU CDATA #REQUIRED MANCC CDATA #REQUIRED MANV CDATA #REQUIRED>
<!ELEMENT NGAYNHAP (#PCDATA)>
<!ELEMENT TONGTIEN (#PCDATA)>
<!ELEMENT NGHI (#PCDATA)>
<!ELEMENT LOAIPHIEU (#PCDATA)>

<!ELEMENT CHITIETPHIEU (SOLUONG, GIA)>
<!ATTLIST CHITIETPHIEU MACTP CDATA #REQUIRED MAPHIEU CDATA #REQUIRED MASP CDATA #REQUIRED>
<!ELEMENT SOLUONG (#PCDATA)>
<!ELEMENT GIA (#PCDATA)>

<!ELEMENT KE (TONKHO, VITRI, NGAYCAPNHAT)>
<!ATTLIST KE MAKE CDATA #REQUIRED MASP CDATA #REQUIRED>
<!ELEMENT TONKHO (#PCDATA)>
<!ELEMENT NGAYCAPNHAT (#PCDATA)>