quanlykho.dtd

<!ELEMENT QUANLYKHO (DANHMUC*, SANPHAM*, NHACUNGCAP*, NHANVIEN*, PHIEU*, CHITIETPHIEU*, KE*)>

<!ELEMENT DANHMUC (MADM, TENDM, MOTA)>
<!ELEMENT MADM (#PCDATA)>
<!ELEMENT TENDM (#PCDATA)>
<!ELEMENT MOTA (#PCDATA)>

<!ELEMENT SANPHAM (MASP, TENSP, MOTA, GIANHAP, GIABAN, KICHTHUOC, MAUSAC, CHATLIEU, MADM, HANG)>
<!ELEMENT MASP (#PCDATA)>
<!ELEMENT TENSP (#PCDATA)>
<!ELEMENT MOTA (#PCDATA)>
<!ELEMENT GIANHAP (#PCDATA)>
<!ELEMENT GIABAN (#PCDATA)>
<!ELEMENT KICHTHUOC (#PCDATA)>
<!ELEMENT MAUSAC (#PCDATA)>
<!ELEMENT CHATLIEU (#PCDATA)>
<!ELEMENT MADM (#PCDATA)>
<!ELEMENT HANG (#PCDATA)>

<!ELEMENT NHACUNGCAP (MANCC, TENNCC, DIACHI, SODT, EMAIL)>
<!ELEMENT MANCC (#PCDATA)>
<!ELEMENT TENNCC (#PCDATA)>
<!ELEMENT DIACHI (#PCDATA)>
<!ELEMENT SODT (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>

<!ELEMENT NHANVIEN (MANV, TENNV, SODT, VITRI, MATKHAU)>
<!ELEMENT MANV (#PCDATA)>
<!ELEMENT TENNV (#PCDATA)>
<!ELEMENT SODT (#PCDATA)>
<!ELEMENT VITRI (#PCDATA)>
<!ELEMENT MATKHAU (#PCDATA)>

<!ELEMENT PHIEU (MAPHIEU, NGAYNHAP, MANCC, TONGTIEN, NGHI, TENNV, LOAIPHIEU, MANV)>
<!ELEMENT MAPHIEU (#PCDATA)>
<!ELEMENT NGAYNHAP (#PCDATA)>
<!ELEMENT MANCC (#PCDATA)>
<!ELEMENT TONGTIEN (#PCDATA)>
<!ELEMENT NGHI (#PCDATA)>
<!ELEMENT TENNV (#PCDATA)>
<!ELEMENT LOAIPHIEU (#PCDATA)>
<!ELEMENT MANV (#PCDATA)>

<!ELEMENT CHITIETPHIEU (MACTP, MAPHIEU, MASP, SOLUONG, GIA)>
<!ELEMENT MACTP (#PCDATA)>
<!ELEMENT MAPHIEU (#PCDATA)>
<!ELEMENT MASP (#PCDATA)>
<!ELEMENT SOLUONG (#PCDATA)>
<!ELEMENT GIA (#PCDATA)>

<!ELEMENT KE (MAKE, MASP, TONKHO, VITRI, NGAYCAPNHAT)>
<!ELEMENT MAKE (#PCDATA)>
<!ELEMENT MASP (#PCDATA)>
<!ELEMENT TONKHO (#PCDATA)>
<!ELEMENT VITRI (#PCDATA)>
<!ELEMENT NGAYCAPNHAT (#PCDATA)>

<!ATTLIST DANHMUC MADM ID #REQUIRED>
<!ATTLIST SANPHAM MASP ID #REQUIRED>
<!ATTLIST SANPHAM MADM IDREF #REQUIRED>
<!ATTLIST NHACUNGCAP MANCC ID #REQUIRED>
<!ATTLIST NHANVIEN MANV ID #REQUIRED>
<!ATTLIST PHIEU MAPHIEU ID #REQUIRED>
<!ATTLIST PHIEU MANCC IDREF #REQUIRED>
<!ATTLIST PHIEU MANV IDREF #REQUIRED>
<!ATTLIST CHITIETPHIEU MACTP ID #REQUIRED>
<!ATTLIST CHITIETPHIEU MAPHIEU IDREF #REQUIRED>
<!ATTLIST CHITIETPHIEU MASP IDREF #REQUIRED>
<!ATTLIST KE MAKE ID #REQUIRED>
<!ATTLIST KE MASP IDREF #REQUIRED>