quanlykho.dtd

<!ELEMENT QUANLYKHO (DANHMUC*, SANPHAM*, NHACUNGCAP*, NHANVIEN*, PHIEU*, CHITIETPHIEU*, KE*)>

<!ELEMENT DANHMUC (TENDM, MOTA)>
<!ATTLIST DANHMUC MADM ID #REQUIRED>
<!ELEMENT TENDM (#PCDATA)>
<!ELEMENT MOTA (#PCDATA)>

<!ELEMENT SANPHAM (TENSP, MOTA, GIANHAP, GIABAN, KICHTHUOC, MAUSAC, CHATLIEU, HANG)>
<!ATTLIST SANPHAM MASP ID #REQUIRED MADM IDREF #REQUIRED>
<!ELEMENT TENSP (#PCDATA)>
<!ELEMENT GIANHAP (#PCDATA)>
<!ELEMENT GIABAN (#PCDATA)>
<!ELEMENT KICHTHUOC (#PCDATA)>
<!ELEMENT MAUSAC (#PCDATA)>
<!ELEMENT CHATLIEU (#PCDATA)>
<!ELEMENT HANG (#PCDATA)>

<!ELEMENT NHACUNGCAP (TENNCC, DIACHI, SODT, EMAIL)>
<!ATTLIST NHACUNGCAP MANCC ID #REQUIRED>
<!ELEMENT TENNCC (#PCDATA)>
<!ELEMENT DIACHI (#PCDATA)>
<!ELEMENT SODT (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>

<!ELEMENT NHANVIEN (TENNV, SODT, TAIKHOAN, MATKHAU)>
<!ATTLIST NHANVIEN MANV ID #REQUIRED>
<!ELEMENT TENNV (#PCDATA)>
<!ELEMENT TAIKHOAN (#PCDATA)>
<!ELEMENT MATKHAU (#PCDATA)>

<!ELEMENT PHIEU (NGAYNHAP, TONGTIEN, NGHI, TENNV, LOAIPHIEU)>
<!ATTLIST PHIEU MAPHIEU ID #REQUIRED MANCC IDREF #REQUIRED MANV IDREF #REQUIRED>
<!ELEMENT NGAYNHAP (#PCDATA)>
<!ELEMENT TONGTIEN (#PCDATA)>
<!ELEMENT NGHI (#PCDATA)>
<!ELEMENT LOAIPHIEU (#PCDATA)>

<!ELEMENT CHITIETPHIEU (SOLUONG, GIA)>
<!ATTLIST CHITIETPHIEU MACTP ID #REQUIRED MAPHIEU IDREF #REQUIRED MASP IDREF #REQUIRED>
<!ELEMENT SOLUONG (#PCDATA)>
<!ELEMENT GIA (#PCDATA)>

<!ELEMENT KE (TONKHO, VITRI, NGAYCAPNHAT)>
<!ATTLIST KE MAKE ID #REQUIRED MASP IDREF #REQUIRED>
<!ELEMENT TONKHO (#PCDATA)>
<!ELEMENT VITRI (#PCDATA)>
<!ELEMENT NGAYCAPNHAT (#PCDATA)>
